@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 19.12px;
  margin: 0;
}
.container {
  max-width: 414px;
  height: 100vh;
  padding: 20px;
}

.heading {
  margin-top: 30px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34.15px;
}

.first--paragraph {
  color: hsl(203, 5%, 63%, 1);
  font-size: 14px;
}

.form--container {
  margin-top: 40px;
}

.input--container {
  height: 67px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.labels {
  color: hsla(274, 99%, 27%, 1);
  font-weight: 600;
  font-size: 14px;
  height: 19px;
  margin-bottom: 5px;
}

.input--box {
  width: 100%;
  height: 47px;
  padding-left: 20px;
  padding: 0.5rem;
  border: 1px solid hsla(0, 0%, 77%, 1);
  border-radius: 6px;
  outline: none;
  margin-top: 0.5rem;
}

.input--box:focus {
  border: 1px solid hsla(0, 0%, 77%, 1);
}

.phone {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.password--wrapper {
  position: relative;
  width: 100%;
  height: 49px;
}

.password--wrapper .input--box {
  width: 100%;
  margin-top: 20px;
}

.password-toggle-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.error-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.check-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.remember-me {
  display: flex;
  align-items: center;
}

.rem {
  margin-left: 8px;
  font-size: 14px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.forgot-pass {
  color: hsla(352, 96%, 59%, 1);
  font-size: 12px;
  font-weight: 600;
}

.input-box {
  width: 100%;
  height: 37px;
  padding-left: 8px;
  padding: 0.5rem;
  border: 1px solid hsla(0, 0%, 77%, 1);
  border-radius: 6px;
  outline: none;
  margin-top: -2px;
}

.input-box:focus {
  border: 1px solid hsla(0, 0%, 77%, 1);
}

.btn {
  margin-top: 30px;
  background-color: hsl(274, 99%, 27%);
  width: 100%;
  height: 45px;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(274, 99%, 27%);
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: hsl(274, 99%, 40%);
  color: hsl(0, 0%, 95%);
}

.btn:active {
  background-color: hsl(274, 99%, 20%);
  color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.horizontal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.horizontal-line {
  border: 0;
  width: 100%;
  border-top: 1px solid #000;
  position: absolute;
}

.horizontal-para {
  background: white;
  padding: 0 10px;
  color: hsla(203, 4%, 62%, 1);
  font-size: 14px;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  gap: 15px;
}
.button:hover {
  background-color: hsl(274, 99%, 40%);
  color: hsl(0, 0%, 95%);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  cursor: pointer;
  height: 45px;
  border: 1px solid #cdd1e0;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.button p {
  margin-left: 5px;
}

.button img {
  max-height: 20px;
  margin-right: 5px;
}

.flex {
  display: block;
  margin: auto;
}

.have-an-account-login {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
}
.have-an-account {
  color: #999ea1;
  font-size: 14px;
}

.login {
  color: #4e0189;
  font-weight: 600;
  margin-left: 3px;
}

.blah {
  display: block;
}

.popup-message {
  position: fixed;
  /* top: -100px;  */
  left: 0;
  /* width: 100%; */
  background-color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.popup-message.show {
  top: 0;
}

.popup-cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-cancel-btn:hover {
  color: red;
}

/* chatbox-css */
.ameer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.messages-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 1;
  padding: 10px;
  /* background-color: #f9f9f9; */
  height: calc(100vh - 160px);
}

.message {
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  margin-bottom: 10px;
}

.user-message {
  background-color: #0b8494;
  color: white;
  /* max-width: 50%; */
  align-self: flex-end;
}

.ai-message {
  background-color: #5d0090; /* Light Purple */
  color: white;
  /* max-width: 50%; */
  align-self: flex-start; /* Align AI messages to the left */
}

.chatbox-body {
  flex: 1;
  transition: filter 0.3s ease;
  overflow: hidden;
}

.chatbox-body.blur {
  filter: blur(5px);
}

.chatbox-top {
  background-color: #4e0189;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cancel-button {
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.chat-toggleburger {
  width: 33px;
  height: 33px;
  color: white;
  cursor: pointer;
  left: 5%;
  position: absolute;
  font-size: 1.7em;
}

.chatbox-heading {
  margin: 0;
}

.chatbox-prompt-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.propmt-text-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #5d0090;
  border-radius: 5px;
  box-sizing: border-box;
  vertical-align: top;
  min-height: 40px;
  display: flex;
  align-items: flex-start;
  resize: none;
  border-radius: 20px;
}

.propmt-text-box:focus {
  border: 1px solid #5d0090;
}

.send-icon {
  color: white;
  font-size: 1.7em;
  padding: 10px;
  cursor: pointer;
  background-color: #5d0090;
  border-radius: 5px;
  transition: filter 0.3s ease;
}

.send-icon.blurred {
  filter: blur(2px);
}

.new-chat-button {
  background-color: #5d0090;
  color: white;
  border: none;
  padding: 15px;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;
}

.new-chat-button:hover {
  background-color: red;
}

.side-menu.open {
  left: 0;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  background-color: #333;
  color: white;
  z-index: 20;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.get-recent-chat {
  background-color: #5d0090;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.get-recent-chat:hover {
  background-color: red;
}

.recent-chats {
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  flex: 1; /* Take up available space */
}

.recent-chat-item {
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.recent-chat-item:hover {
  background-color: #6c63ff;
}

.chat-profile-container {
  background-color: #5d0090;
  width: 100%;
}

.chat-profile-wrapper {
  padding: 20px;
}

.chat-profile {
  width: 80px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: red;
}

.user-email {
  margin-top: 2px;
  justify-content: space-between;
}

.logout-text {
  cursor: pointer;
  color: red;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  text-align: right;
  border-radius: 5px;
}

.logout-text:hover {
  background-color: #6c63ff;
  color: white;
}

.email {
  font-size: 15px;
  color: white;
  width: 100%; /* Adjusted width to ensure proper text wrapping */
  overflow-wrap: break-word; /* Ensure text wraps correctly */
}
.registration-alternattives {
  margin-top: 20px;
  display: flex;
  /* flex-direction: row; */
  gap: 20px;
}
.btn-text {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
}
.btn-container {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #cdd1e0;
  cursor: pointer;
}
.btns {
  width: 23px;
  height: 22.43px;
}
.btn-container:hover {
  background-color: #e3e5ed;
  /* color: white; */
}

/* large screen */

@media screen and (min-width: 768px) {
  .page {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .container {
    width: 100%;
  }
  .heading {
    margin-top: 60px;
  }
  .popup-message {
    position: fixed;
    /* top: -100px;  */
    left: 35%;
    /* width: 100%; */
    background-color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    transition: top 0.3s ease-in-out; /* Animate sliding down */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .chatbox-prompt-container {
    width: 50%;
    transform: translate(50%, -50%);
    margin-bottom: -20px;
  }
  .propmt-text-box {
    padding: 8px;
    width: 800px;
    border-radius: 20px;
  }
}
